TestDynamicWebProject/wsdls/Users.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Users/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Users" targetNamespace="http://www.example.org/Users/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Users/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Swiming">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="SwimingResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Reading">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadingResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
            <xsd:element name="Re" type="xsd:string"></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SwimingRequest">
  	<wsdl:part name="parameters" element="tns:Swiming"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SwimingResponse">
  	<wsdl:part name="parameters" element="tns:SwimingResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReadingRequest">
  	<wsdl:part name="parameters" element="tns:Re"></wsdl:part>
  	<wsdl:part name="NewPart" type="xsd:string"></wsdl:part>
  	<wsdl:part name="NewPart1" type="xsd:string"></wsdl:part>
  	<wsdl:part name="NewPart2" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReadingResponse">
  	<wsdl:part name="parameters" element="tns:ReadingResponse"></wsdl:part>
  	<wsdl:part name="NewPart" type="xsd:string"></wsdl:part>
  	<wsdl:part name="NewPart1" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Users">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Swiming">
    	<wsdl:input message="tns:SwimingRequest"></wsdl:input>
    	<wsdl:output message="tns:SwimingResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reading">
    	<wsdl:input message="tns:ReadingRequest"></wsdl:input>
    	<wsdl:output message="tns:ReadingResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersSOAP" type="tns:Users">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/Users/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Users">
    <wsdl:port binding="tns:UsersSOAP" name="UsersSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
